<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <img src="#" alt="Logo">
            </div>

            <h1> Guilherme Carlos</h1>

            <div class="menu-hamburguer" onclick="toggleMenu()">&#9776;</div>

            <nav>
                <ul id="nav-links">
                    <li class="{{ 'active' if section == 'home' else '' }}"><a href="#home">Inicio</a></li>
                    <li class="{{ 'active' if section == 'skills' else '' }}"><a href="#skills">Habilidades</a></li>
                    <li class="{{ 'active' if section == 'about' else '' }}"><a href="#about">Sobre mim</a></li>
                    <li class="{{ 'active' if section == 'projects' else '' }}"><a href="#projects">Projetos</a></li>
                    <li class="{{ 'active' if section == 'contact' else '' }}"><a href="#contact">Contato</a></li>
                </ul>
            </nav>

            <div class="social-links">
                <a href="https://github.com/Guilherme-jpg-max" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a href="http://www.linkedin.com/in/guilherme-carlos-99b83b273" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
    </header>

    <main>
        <section id="home">
            <div class="main-section">
                <div class="text-content">
                    <h2 class="main-title">Fala deve, me chamo Guilherme.</h2>
                    <p class="sub-title">Um um estudante de tecnologia em busca de conhecimento</p>
                    <div class="actions">
                        <a href="#contact" class="btn secondary">Entre em contato comigo!</a>
                        <a href="#projects" class="btn primary">Ver Projetos</a>
                    </div>
                </div>
                <div class="image-container">
                    <img src="#" alt="home_img">
                </div>
            </div>
        </section>

        <section id="skills">
            <h2>Habilidades</h2>
            <p>Aqui estão algumas das tecnologias com as quais tenho conhecimentos:</p>
            <div class="skills-container">
                <div class="skill">
                    <button onclick="toggleSkill('python')">Python</button>
                    <p id="python" class="skill-description">
                        Habilidades:Django, Flask
                    </p>
                </div>
                <div class="skill">
                    <button onclick="toggleSkill('django')">Django</button>
                    <p id="django" class="skill-description">
                        Habilidades: Desenvolvimento web leve, APIs RESTful, criação de APIS, Autenticação
                    </p>
                </div>
                <div class="skill">
                    <button onclick="toggleSkill('flask')">Flask</button>
                    <p id="flask" class="skill-description">
                        Habilidades: Desenvolvimento web leve, APIs RESTful, criação de APIS, Autenticação
                    </p>
                </div>
                <div class="skill">
                    <button onclick="toggleSkill('postgresql')">PostgreSQL</button>
                    <p id="postgresql" class="skill-description">
                        Habilidades: Modelagem de banco de dados, queries SQL intermediarias
                    </p>
                </div>
                <div class="skill">
                    <button onclick="toggleSkill('mysql')">MySQL</button>
                    <p id="mysql" class="skill-description">
                        Habilidades: Design de banco de dados, otimização de consultas, consultas avaçadas.
                    </p>
                </div>
                <div class="skill">
                    <button onclick="toggleSkill('java')">Java</button>
                    <p id="java" class="skill-description">
                        Habilidades: Desenvolvimento orientado a objetos, estruturas de dados, padrões de projeto
                    </p>
                </div>
                <div class="skill">
                    <button onclick="toggleSkill('git')">Git</button>
                    <p id="git" class="skill-description">
                        Habilidades: Controle de versão, branch management
                    </p>
                </div>
                <div class="skill">
                    <button onclick="toggleSkill('github')">GitHub</button>
                    <p id="github" class="skill-description">
                        Habilidades: Hospedagem de código, gerenciamento de projetos
                    </p>
                </div>
            </div>
        </section>
    </main>
</body>